%li.left-main__group
  .left-main__group__name sample
  .left-main__group__last-message Good bye world!
%li.left-main__group
  .left-main__group__name sample2
  .left-main__group__last-message hello world!
