.right-footer
  = form_for [@group, @message], class: "input-form" do |f|
    = f.text_field :body, class: "input-form__message", placeholder: "type a message"
    = link_to "http://google.co.jp" do
      %i.fa.fa-picture-o.input-form__image
    = f.submit 'Send', class: "input-form__send-button"
