.contents
  .header チャットグループが作成されました。
  .left-content
    .left-header
      .left-header__name takuma
      %i.fa.fa-gear.left-header__gear
      %i.fa.fa-edit.left-header__edit
    %ul.left-main
      - ["sample", "sample2"].each do |name|
        = render 'group', group_name: name
  .right-content
    .right-header
      .right-header__group-info
        .right-header__group-info__name sample
        .right-header__group-info__members Members: neko takuma
      .right-header__edit-button Edit
    %ul.right-main
      - ["Hello world!","Good bey world!"].each do |message|
        = render 'message', text: message
    .right-footer
      %form.input-form{action: "/", method: "post"}
        %input.input-form__message{name: "message", type: "text", placeholder: "type a message"}
        %i.fa.fa-picture-o.input-form__image
        %input.input-form__send-button{type: "submit", value: "Send"}
