.contents
  .left-content
    .left-header
      .left-header__name takuma
      %i.fa.fa-gear.left-header__gear
      %i.fa.fa-edit.left-header__edit
    %ul.left-main
      %li.left-main__group
        .left-main__group__name sample
        .left-main__group__last-message Good bye world!
  .right-content
    .right-header
      .right-header__name sample
      .right-header__members Members: neko takuma
      .right-header__edit-button Edit
    %ul.right-main
      %li.right-main__message
        .right-main__message__name takuma
        .right-main__message__date 2016/04/25 14:14:14
        .right-main__message__text Hello world!
      %li.right-main__message
        .right-main__message__name neko
        .right-main__message__date 2016/04/26 09:24:55
        .right-main__message__text Hello world!
    .right-footer
      %form.input-form{action: "/", method: "post"}
        %input.input-form__message{name: "message", type: "text", placeholder: "type a message"}
          %i.fa.fa-picture-o.input-form__image
        %input.input-form__send-button{type: "submit", value: "Send"}
