@mixin clearfix {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin scrolloff {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin flash($height-diff) {
  &.flash {
    height: calc(100vh - #{$height-diff} - #{$header-height});
  }
}
