html, body {
  height: 100%;
}

.contents {
  height: 100%;
}

.left-content {
  float: left;
  width: 300px;
  height: 100%;
  color: #fff;
  background-color: #2f3e51;
}

.left-header {
  font-size: 16px;
  font-weight: bold;
  padding: 40px 20px;
  height: 16px;
  background-color: #253141;
  &:after {
    display: block;
    clear: both;
    content: '';
  }
  &__name {
    float: left;
  }
  &__edit {
    float: right;
    margin-right: 5px;
  }
  &__gear {
    float: right;
  }
}

.left-main {
  padding: 0 20px;
  &__group {
    padding: 20px 0;
    &__name {
      font-size: 15px;
      padding-bottom: 5px;
    }
    &__last-message {
      font-size: 11px;
    }
  }
}

.right-content {
  float: right;
  width: calc(100vw - 300px);
  height: 100%;
  background-color: #aaa;
}

.right-header {
  padding: 0 40px;
  border-bottom: solid 1px #eeeeee;
  &__group-info {
    float: left;
    margin: 35px 0 8px;
    &__name {
      font-size: 20px;
      color: #333333;
      margin-bottom: 15px;
      line-height: 20px;
    }
    &__members {
      font-size: 12px;
      color: #999999;
    }
  }
  &__edit-button {
    float: right;
    border: solid 2px #38aef0;
    line-height: 40px;
    padding: 0 20px;
    color: #38aef0;
    margin-top: 28px;
  }
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.right-main {
  padding: 26px 40px 0;
  &__message {
    padding: 20px 0;
    &__name {
      font-size: 16px;
      line-height: 16px;
      color: #434a54;
      float: left;
    }
    &__date {
      font-size: 12px;
      line-height: 16px;
      color: #999999;
      float: left;
      margin-left: 10px;
    }
    &__text {
      font-size: 14px;
      color: #434a54;
      clear: both;
      padding-top: 10px;
    }
  }
}
