html, body {
  height: 100%;
  line-height: 100%;
  overflow: hidden;
}

.contents {
  height: 100%;
}

.header {
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #38aef0;
}

.left-content {
  float: left;
  width: 300px;
  // height: calc(100vh - 30px);
  color: #fff;
}

.left-header {
  font-size: 16px;
  font-weight: bold;
  height: 16px;
  padding: 40px 20px;
  background-color: #253141;
  &:after {
    display: block;
    clear: both;
    content: '';
  }
  &__name {
    float: left;
  }
  &__edit {
    float: right;
    margin-right: 5px;
    color: #fff;
  }
  &__gear {
    float: right;
    color: #fff;
  }
}

.left-main {
  overflow-y: scroll;
  background-color: #2f3e51;
  height: calc(100vh - 122px);
  &::-webkit-scrollbar {
    display: none;
  }
}

.group-list {
  padding: 0 20px;
  &__group {
    padding: 20px 0;
    &__name {
      font-size: 15px;
      padding-bottom: 5px;
    }
    &__last-message {
      font-size: 11px;
    }
  }
}

.right-margin {
  float: left;
  width: 100%;
  margin-left: -300px;
}

.right-content {
  float: left;
  margin-left: 300px;
  // height: calc(100vh - 30px);
  width: calc(100vw - 300px);
}

.right-header {
  padding: 0 40px;
  border-bottom: solid 1px #eee;
  background-color: #fff;
  &__group-info {
    float: left;
    margin: 35px 0 10px;
    &__name {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 15px;
      color: #333;
    }
    &__members {
      font-size: 12px;
      color: #999;
    }
  }
  &__edit-button {
    line-height: 40px;
    float: right;
    margin-top: 28px;
    padding: 0 20px;
    color: #38aef0;
    border: solid 2px #38aef0;
  }
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.right-main {
  background-color: #ddd;
  max-height: calc(100vh - 212px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.message-list {
  padding: 26px 40px 0;
  &__message {
    padding: 20px 0;
    &__name {
      font-size: 16px;
      line-height: 16px;
      float: left;
      color: #434a54;
    }
    &__date {
      font-size: 12px;
      line-height: 16px;
      float: left;
      margin-left: 10px;
      color: #999;
    }
    &__text {
      font-size: 14px;
      clear: both;
      padding-top: 10px;
      color: #434a54;
    }
  }
}

.right-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 20px 40px;
  background-color: #aaa;
}

.input-form {
  position: relative;
  display: inline-block;
  &__message {
    line-height: 50px;
    width: calc(100vw - 520px);
    padding: 0 10px 0;
    border: none;
  }
  &__image {
    position: absolute;
    top: 18px;
    right: 130px;
    color: #434a54;
  }
  &__send-button {
    width: 100px;
    height: 50px;
    margin-left: 15px;
    color: #fff;
    border: none;
    background-color: #38aef0;
  }
}
